body {
    height: 100vh;
    min-width: 320px;
    font-family: cursive;
    color: green;
    background: PaleGreen;
    background: linear-gradient( to top, PaleGreen, NavajoWhite);
}
.myMenu {
  background: NavajoWhite;
  background: linear-gradient( to bottom, PaleGreen, NavajoWhite);
}
.navbar {
  border: 0;
}
.navbar-default .navbar-brand, 
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a {
    color: green;
}
.navbar-default .navbar-brand {
  font-size: 200%;
  font-weight: 600;
}

.main>div{  
  margin-top: 1em;
  font-weight: bold;
  font-size: larger;
}
.div1, .div2 {
  position: relative;
  padding: 5px;
  border: 1px solid SaddleBrown;
  background: PapayaWhip;  
  height: 300px;  
}
.pedestal{  
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: green;
} 
  
@media (min-width: 768px) /* Разрешение более 768px включительно*/
{
  .div1, .div2, .result  {  
    height: 300px;  
  }  
  .statue {
    height: 150px;
  }
  .result {
    position: relative; 
  }
  .statueOnPedestal {
    position: absolute;
    bottom: 0;
  }
  .countInPedestal {
    color: NavajoWhite;
  }
}
@media (min-width: 992px) /* Разрешение более 992px включительно*/
{
  .navbar {
    margin-bottom: 0; 
  }
  .div1, .div2, .result  {  
    height: 450px;  
  }   
  .statue {
    height: 180px;
  } 
}
@media (min-width: 1200px) /* Разрешение более 1200px включительно*/
{
  .div1, .div2, .result  {  
    height: 600px; 
  }
  .statue {
    height: 240px;
  } 
}
  